/* Default styles
   ========================================================================== */

/*
  1. Setup default behavior for root element.
  2. Setup variables.
*/

:root {

  /* Colors */
  --color-primary: #0b0f19; 
  --color-secondary: #111827; 
  --color-emphasize: #7582eb; 
  --color-txt-primary: #edf2f7;
  --color-txt-secondary: #a0aec0;
  --color-txt-emphasize: #111827;

  /* Borders */
  --border-color: #2d3748;
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 6px;

  /* Paddings, margins */
  --padding-1x: 10px; 
  --padding-2x: calc(var(--padding-1x) * 2);
  --padding-3x: calc(var(--padding-1x) * 3);
  --padding-4x: calc(var(--padding-1x) * 4);

  --margin-1x: 10px;
  --margin-2x: calc(var(--margin-1x) * 2);
  --margin-3x: calc(var(--margin-1x) * 3);
  --margin-4x: calc(var(--margin-1x) * 4);

  /* Widths */
  --width-100pr: 100%;
  --width-50pr: 50%;
  --width-33pr: 33%;
  --width-25pr: 25%;

  /* Wrapper  settings*/
  --wrapper-width: 1000px;

  /* Font settings */
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;

  background-color: var(--color-primary);
}

/* End default styles
   ========================================================================== */





/* Wrapper styles
   ========================================================================== */

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* Header styles
   ========================================================================== */

.header {
  margin: var(--margin-2x) 0;
}

.header__title {
  padding: var(--padding-2x) 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  color: var(--color-txt-emphasize);
  background-color: var(--color-emphasize);
}

/*  Sections general styles  
=============================================================================================== */

.section {
  margin: var(--margin-2x) 0;
  padding: var(--padding-2x);
  padding-top: 0;
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: 6px;
  
  color: var(--color-txt-secondary);
  background-color: var(--color-secondary);
}

.section__title {
  padding-bottom: var(--padding-2x);
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--border-color);
  color: var(--color-txt-primary);
  text-align: center;
}

/*  Section "about" styles  
=============================================================================================== */

.about {
  display: flex;
  flex-direction: row;
  padding-top: var(--padding-2x);
}

.about__img {
  width: var(--width-25pr);
  padding-right: var(--padding-2x);
}

.img {
  width: var(--width-100pr);
  border-radius: 50%;
}

.about__text {
  line-height: 0.6;
}

.about__text-header {
  color: var(--color-txt-primary);
}

/*  Section "contacts" styles  
=============================================================================================== */

.socials {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.socials__item {
  text-align: center;
  width: var(--width-25pr);
}

.socials__item a {
  color: var(--color-txt-secondary);
  transition: all 0.6s;
}

.socials__item a:hover {
  color: var(--color-emphasize);
}

/*  Lists styles
=============================================================================================== */

.list {
  display: table;
  margin: 0 auto;
}

.list__cell-header {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-emphasize);
}

.list__item {
  display: table-row;
}

.list__cell {
  display: table-cell;
  text-align: center;
  line-height: 1.6;
  padding: 0 var(--padding-2x);
  border-right-color: var(--color-emphasize); 
  border-right-style: var(--border-style);
  border-right-width: var(--border-width);
}

.list__cell-align-left {
  text-align: inherit;
}

.list__cell:last-child {
  border: none;
}


/*  Icons styles  
=============================================================================================== */

.socials__item a > i {
  font-size: 3rem;
  cursor: pointer;
}

.section__list i,
.list__cell i {
  padding-right: var(--padding-1x);
  color: var(--color-emphasize);
}
