*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: #0b0f19; 
}

.about__img {
  margin-right: 50px;
}

.img {
  width: 200px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 25px 0;
  margin: 10px 0 20px;
  color: #111827;
  text-transform: uppercase;
  background-color: #7582eb;
  border-radius: 6px;
}

.section {
  padding: 25px 5%;
  width: 100%;
  margin: 0 auto 20px;
  flex: 1 1 auto;
  color: #a0aec0;
  justify-content:center; 
  align-items:center; 
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #2d3748;
  background-color: #111827;
}

.section__title {
  padding-bottom: 15px;
  color: #edf2f7;
  font-size: 1.3rem;
  margin: 0 auto 15px;
  border-bottom: 1px solid #edf2f778;
}

.section__title {
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table i,
.section__list i {
  padding-right: 10px;
  color: #7582eb;
}

.table td{
  padding: 2px 25px;
}

.table thead {
  font-weight: 600;
  font-size: 1.2rem;
  color: #7582eb;
}

.table-bordered tr > td {
  border-right: 1px solid #7582eb; 
}

.table-bordered tr > td:last-child {
  border-right: none;
}

.table-centered {
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.socials__item {
  text-align: center;
  width: 25%;
}

.socials__item a {
  color: #a0aec0;
  transition: all 0.6s;
}

.socials__item a:hover {
  color: #7582eb;
}

.socials__item a {
  text-decoration: none;
}

.socials__item a > i {
  font-size: 3rem;
  cursor: pointer;
}

.label {
  color: #edf2f7;
}

.text {
  padding-bottom: 6px;
}
